.course-progress {
    border-radius: 50%;
    background-color: var(--secondary-background-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.progress-bar {
    height: 1rem;
    background-color: var(--color-gray);
    border-radius: 0.5rem;
}

.progress-bar .progress {
    width: 0%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    transition: width 0.5s ease;
}