.logo-index {
    width: 500px;
    height: 200px;
}

.btn-home {
    max-width: 15rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    .logo-index {
        width: 300px;
        height: 100px;
    }
}