.logo-index {
    width: 500px;
    height: 200px;
}

.btn-index {
    max-width: 8rem;
}

.container-explicacao-capitulo {
    max-width: 45rem;
}

@media only screen and (max-width: 768px) {
    .logo-index {
        width: 300px;
        height: 100px;
    }
}

.scroll-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  animation: bounceText 2s infinite;
}

.arrow-down {
  margin-top: 0.5rem;
  width: 24px;
  height: 24px;
  border-left: 4px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  transform: rotate(-45deg);
  animation: bounceArrow 2s infinite;
}

@keyframes bounceArrow {
  0%, 100% {
    transform: translateY(0) rotate(-45deg);
  }
  50% {
    transform: translateY(10px) rotate(-45deg);
  }
}

@keyframes bounceText {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
}
