{% extends "components/base.html" %}
{% load static %}

{% block head_title %}{{ exercicio_usuario.exercicio.nome }}{% endblock head_title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'capitulos/css/exercicio_usuario.css' %}">
{% endblock styles %}

{% block content %}
<div class="container-all-with-header-footer">
    {% url 'capitulos:capitulo_detail' exercicio_usuario.exercicio.capitulo.id as capitulo_detail_url %}
    {% include "capitulos/partials/title_pages.html" with titulo=exercicio_usuario.exercicio.nome url=capitulo_detail_url %}
    <div class="exercicio-container">
        {{ exercicio_usuario.exercicio.enunciado | safe }}
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}