{% extends "components/base.html" %}
{% load static %}

{% block head_title %}Cadastro{% endblock head_title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'authentication/css/cadastro.css' %}">
{% endblock styles %}

{% block content %}
<div class="container-all-with-header centralize">
  <div class="card">
    <h1 class="text-center">Cadastro</h1>
    <form method="POST" class="container-form">
      {% csrf_token %}
      {% include 'components/layouts/form_general_errors.html' %}
      {% for field in form %}
        {% include 'components/layouts/form_field.html' %}
      {% endfor %}
      <small class="text-muted">Já possui uma conta? <a class="link-to-login" href="{% url "authentication:login" %}">Entrar agora!</a></small>
      <div class="d-flex flex-centralize">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}