{% extends "components/base.html" %}
{% load static %}

{% block head_title %}Página Principal{% endblock head_title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'authentication/css/home.css' %}">
{% endblock styles %}

{% block content %}
<div class="container-all-with-header-footer centralize">
  <div class="card text-center">
    <h1>Olá, {{ user.first_name }}!</h1>
    <h3>Acesse seu dashboard para acompanhar os capítulos e os exercicios digitalizados, além da possibilidade de avaliar cada exercício.</h3>
    <a href="{% url 'authentication:dashboard' %}" class="btn btn-primary btn-home">Acessar o dashboard</a>
    <img src="{% static 'authentication/imgs/dev_productivity.svg' %}" alt="ilustração de desenvolvedor sendo produtivo" class="logo-index">
  </div>
</div>
{% endblock %}