{% extends "components/base.html" %}
{% load static %}

{% block content %}
<div class="container-all-with-header centralize">
  <div class="card text-center">
    <h1>Bem vindo!</h1>
    <h3>Acompanhador de execícios</h3>
    <p>O acompanhador é uma plataforma gratuita para ajuda-lo a realizar os exercícios do matérial didático. Você pode acessá-lo se cadastrando de forma simples ou logando se já tiver uma conta existente.</p>
    <div class="buttons">
        <a href="" class="btn btn-primary">Cadastrar</a>
        <a href="" class="btn btn-secondary">Entrar</a>
    </div>
    <img src="{% static 'authentication/imgs/django-logo.png' %}" alt="logo-django" width="200" height="100">
  </div>
</div>
{% endblock %}