{% extends "components/base.html" %}
{% load static %}

{% block head_title %}Página Principal{% endblock head_title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'authentication/css/index.css' %}">
{% endblock styles %}

{% block content %}
<div class="container-all-with-header centralize">
  <div class="card text-center">
    <h1>Bem vindo!</h1>
    <h3>Acompanhador de execícios</h3>
    <p>O acompanhador é uma plataforma gratuita para ajuda-lo a realizar os exercícios do Curso Django: do Básico à Autonomia. Você pode acessá-lo se cadastrando de forma simples ou logando se já tiver uma conta existente.</p>
    <div class="buttons">
        <a href="{% url 'authentication:cadastro' %}" class="btn btn-primary btn-index">Cadastrar</a>
        <a href="{% url 'authentication:login' %}" class="btn btn-secondary btn-index">Entrar</a>
    </div>
    <img src="{% static 'authentication/imgs/dev_productivity.svg' %}" alt="ilustração de desenvolvedor sendo produtivo" class="logo-index">
  </div>
  <div class="scroll-indicator">
    <h3>Ver sobre os capítulos</h3>
    <div class="arrow-down"></div>
  </div>
</div>
<div class="container-all-with-header centralize">
  <h1>Capítulo 1 - Configurando ambiente</h1>
  <ul>
    <li>Instalar a Linguagem de Programação Python.</li>
    <li>Entender e criar um ambiente virtual para desenvolvimento de aplicações Python.</li>
    <li>Baixar e criar projeto Django.</li>
    <li>Baixar o gerenciador de banco de dados PostgreSQL e criar um banco de dados</li>
  </ul>
  <p class="container-explicacao-capitulo text-center">
    Ao final desse capítulo, você será capaz de configurar seu ambiente de desenvolvimento para trabalhar com Django, garantindo que todas as ferramentas necessárias estejam prontas para o desenvolvimento de aplicações web.
  </p>
</div>
<div class="container-all-with-header centralize">
  <h1>Capítulo 2 - Criando rotas</h1>
  <ul>
    <li>Criar as primeiras rotas no Django.</li>
    <li>Renderizar nossas páginas com Template do Django.</li>
    <li>Utilizar <i>Class Based View</i> para criar nossas <i>views</i> no Django</li>
  </ul>
  <p class="container-explicacao-capitulo text-center">
    Neste capítulo, será introduzido o conceito de rotas no Django, permitindo que você crie URLs que respondem a requisições HTTP e renderizem páginas HTML usando os templates do Django. Você também aprenderá a usar as <i>Class Based Views</i> para estruturar suas <i>views</i> de forma mais organizada e reutilizável.
  </p>
</div>
<div class="container-all-with-header centralize">
  <h1>Capítulo 3 - Criando modelos</h1>
  <ul>
    <li>Conectaremos nossa aplicação Django com o Banco de Dados PostgreSQL.</li>
    <li>Criaremos os modelos da nossa aplicação.</li>
    <li>Discutiremos relacionamento de modelos no Django como <i>Foreign Key</i> e <i>Many to Many</i></li>
  </ul>
  <p class="container-explicacao-capitulo text-center">
    O aluno aqui será capaz de conectar sua aplicação Django ao banco de dados PostgreSQL, criando modelos que representam as entidades do seu sistema. Você aprenderá a definir campos, tipos de dados e relacionamentos entre modelos, como <i>Foreign Key</i> e <i>Many to Many</i>, para estruturar adequadamente os dados da sua aplicação.
  </p>
</div>
{% endblock %}