.exercicio-container {
    margin: 2rem auto;
    width: 60%;
    text-align: center;
}

.exercicio-container pre {
  background-color: #1e1e1e;
  color: #d4d4d4;
  padding: 1rem;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 100%;
  overflow-x: auto;
}

.exercicio-container img {
    max-width: 100%;
}
