<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock head_title %}</title>

    {% include "components/layouts/styles.html" %}
    {% block styles %}{% endblock styles %}
</head>
<body>
    {% include 'components/layouts/header.html' %}
    {% block content %}{% endblock content %}
    {% include 'components/layouts/footer.html' %}
</body>

    {% include 'components/layouts/scripts.html' %}

    {% block scripts %}{% endblock scripts %}
</html>