<table>
    <thead>
        <tr>
            <th>Exercício</th>
            <th>Feito</th>
            <th>
                    <div>Dificuldade</div>
                    <div>(Fácil -> Difícil)</div>
            </th>
            <th>
                <div>Nota</div>
                <div>(Não gostei -> Amei)</div>
            </th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for exercicio_usuario in exercicios_usuario %}
            <tr>
                <td>
                    <a href="{{ exercicio_usuario.exercicio.link }}">{{ exercicio_usuario.exercicio.nome }}</a>
                </td>
                <td>
                    <div class="d-flex flex-centralize">
                        <label class="container-checkbox">
                            <div class="info" data-url="{% url 'capitulos:feito_update' exercicio_usuario.id %}"></div>
                            <input type="checkbox" class="change-feito" {{ exercicio_usuario.feito|yesno:"checked," }} id="feito_{{ exercicio_usuario.id }}">
                            <span class="checkmark"/>
                        </label>
                    </div>
                </td>
                <td class="rating-dificuldade rating">
                    <div class="info" data-url="{% url 'capitulos:dificuldade_update' exercicio_usuario.id %}"></div>
                    <input type="radio" id="star0_{{ exercicio_usuario.id }}" name="nota" value="0">
                    <label for="star0_{{ exercicio_usuario.id }}" title="0 estrelas" class="change-dificuldade"><i class="fa-solid fa-star {% if exercicio_usuario.dificuldade >= 0 %}checked{% endif %}"></i></label>
                    <input type="radio" id="star1_{{ exercicio_usuario.id }}" name="nota" value="1">
                    <label for="star1_{{ exercicio_usuario.id }}" title="1 estrelas" class="change-dificuldade"><i class="fa-solid fa-star {% if exercicio_usuario.dificuldade >= 1 %}checked{% endif %}"></i></label>
                    <input type="radio" id="star2_{{ exercicio_usuario.id }}" name="nota" value="2">
                    <label for="star2_{{ exercicio_usuario.id }}" title="2 estrelas" class="change-dificuldade"><i class="fa-solid fa-star {% if exercicio_usuario.dificuldade >= 2 %}checked{% endif %}"></i></label>
                    <input type="radio" id="star3_{{ exercicio_usuario.id }}" name="nota" value="3">
                    <label for="star3_{{ exercicio_usuario.id }}" title="3 estrelas" class="change-dificuldade"><i class="fa-solid fa-star {% if exercicio_usuario.dificuldade >= 3 %}checked{% endif %}"></i></label>
                    <input type="radio" id="star4_{{ exercicio_usuario.id }}" name="nota" value="4">
                    <label for="star4_{{ exercicio_usuario.id }}" title="4 estrela" class="change-dificuldade"><i class="fa-solid fa-star {% if exercicio_usuario.dificuldade >= 4 %}checked{% endif %}"></i></label>
                </td>
                <td class="rating-nota rating">
                    <div class="info" data-url="{% url 'capitulos:nota_update' exercicio_usuario.id %}"></div>
                    <input type="radio" id="heart0_{{ exercicio_usuario.id }}" name="nota" value="0">
                    <label for="heart0_{{ exercicio_usuario.id }}" title="0 estrelas" class="change-nota"><i class="fa-solid fa-heart {% if exercicio_usuario.nota >= 0 %}checked{% endif %}"></i></label>
                    <input type="radio" id="heart1_{{ exercicio_usuario.id }}" name="nota" value="1">
                    <label for="heart1_{{ exercicio_usuario.id }}" title="1 estrelas" class="change-nota"><i class="fa-solid fa-heart {% if exercicio_usuario.nota >= 1 %}checked{% endif %}"></i></label>
                    <input type="radio" id="heart2_{{ exercicio_usuario.id }}" name="nota" value="2">
                    <label for="heart2_{{ exercicio_usuario.id }}" title="2 estrelas" class="change-nota"><i class="fa-solid fa-heart {% if exercicio_usuario.nota >= 2 %}checked{% endif %}"></i></label>
                    <input type="radio" id="heart3_{{ exercicio_usuario.id }}" name="nota" value="3">
                    <label for="heart3_{{ exercicio_usuario.id }}" title="3 estrelas" class="change-nota"><i class="fa-solid fa-heart {% if exercicio_usuario.nota >= 3 %}checked{% endif %}"></i></label>
                    <input type="radio" id="heart4_{{ exercicio_usuario.id }}" name="nota" value="4">
                    <label for="heart4_{{ exercicio_usuario.id }}" title="4 estrela" class="change-nota"><i class="fa-solid fa-heart {% if exercicio_usuario.nota >= 4 %}checked{% endif %}"></i></label>
                </td>
                <td>
                    <a href="{% url 'capitulos:exercicio_usuario_detail' exercicio_usuario.id %}" class="btn btn-primary btn-table">Ver Exercício</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>